In [137]:
import pandas as pd
import json
import re

In [146]:
df_c = pd.read_excel("../sample/mobile-app-clickstream_sample.xlsx")
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   userId      39 non-null     object
 1   eventId     39 non-null     object
 2   eventTime   39 non-null     datetime64[ns]
 3   eventType   39 non-null     object
 4   attributes  13 non-null     object
dtypes: datetime64[ns](1), object(4)
memory usage: 1.6+ KB

In [147]:
df_c.head(7) # all rows for user u1

,userId,eventId,eventTime,eventType,attributes
0,u1,u1_e1,2019-01-01 00:00:00,app_open,"{{""campaign_id"": ""cmp1"", ""channel_id"": ""Googl..."
1,u1,u1_e2,2019-01-01 00:00:05,search_product,NaN
2,u1,u1_e3,2019-01-01 00:00:10,search_product,NaN
3,u1,u1_e4,2019-01-01 00:00:15,search_product,NaN
4,u1,u1_e5,2019-01-01 00:00:20,view_product_details,NaN
5,u1,u1_e6,2019-01-01 00:01:00,purchase,"{{""purchase_id"": ""p1""}}"
6,u1,u1_e7,2019-01-01 00:02:00,app_close,NaN

In [177]:
df_c.head(100)

,userId,eventId,eventTime,eventType,attributes,purchase_id,purchaseId
0,u1,u1_e1,2019-01-01 00:00:00,app_open,"{{""campaign_id"": ""cmp1"", ""channel_id"": ""Googl...",None,
1,u1,u1_e2,2019-01-01 00:00:05,search_product,NaN,None,
2,u1,u1_e3,2019-01-01 00:00:10,search_product,NaN,None,
3,u1,u1_e4,2019-01-01 00:00:15,search_product,NaN,None,
4,u1,u1_e5,2019-01-01 00:00:20,view_product_details,NaN,None,
5,u1,u1_e6,2019-01-01 00:01:00,purchase,"{{""purchase_id"": ""p1""}}",p1,p1
6,u1,u1_e7,2019-01-01 00:02:00,app_close,NaN,None,
7,u2,u2_e1,2019-01-01 00:00:00,app_open,"{{""campaign_id"": ""cmp1"", ""channel_id"": ""Yande...",None,
8,u2,u2_e2,2019-01-01 00:00:03,search_product,NaN,None,
9,u2,u2_e3,2019-01-01 00:01:00,view_product_details,NaN,None,
10,u2,u2_e4,2019-01-01 00:03:00,purchase,"{{""purchase_id"": ""p2""}}",p2,p2
11,u2,u2_e5,2019-01-01 00:04:00,app_close,NaN,None,
12,u2,u2_e6,2019-01-02 00:00:00,app_open,"{{""campaign_id"": ""cmp2"", ""channel_id"": ""Yande...",None,
13,u2,u2_e7,2019-01-02 00:00:03,search_product,NaN,None,
14,u2,u2_e8,2019-01-02 00:01:00,view_product_details,NaN,None,
15,u2,u2_e10,2019-01-02 00:04:00,app_close,NaN,None,
16,u3,u3_e1,2019-01-01 00:00:00,app_open,"{{""campaign_id"": ""cmp2"", ""channel_id"": ""Faceb...",None,
17,u3,u3_e2,2019-01-01 00:00:10,search_product,NaN,None,
18,u3,u3_e3,2019-01-01 00:00:30,view_product_details,NaN,None,
19,u3,u3_e4,2019-01-01 00:02:00,app_close,NaN,None,
20,u3,u3_e5,2019-01-01 01:11:11,app_open,"{{""campaign_id"": ""cmp1"", ""channel_id"": ""Googl...",None,
21,u3,u3_e6,2019-01-01 01:11:20,search_product,NaN,None,
22,u3,u3_e7,2019-01-01 01:11:40,view_product_details,NaN,None,
23,u3,u3_e8,2019-01-01 01:12:00,purchase,"{{""purchase_id"": ""p3""}}",p3,p3
24,u3,u3_e9,2019-01-01 01:12:30,app_close,NaN,None,
25,u3,u3_e10,2019-01-02 02:00:00,app_open,"{{""campaign_id"": ""cmp2"", ""channel_id"": ""Yande...",None,
26,u3,u3_e11,2019-01-02 02:00:06,search_product,NaN,None,
27,u3,u3_e12,2019-01-02 02:00:20,search_product,NaN,None,
28,u3,u3_e13,2019-01-02 02:11:15,view_product_details,NaN,None,
29,u3,u3_e14,2019-01-02 02:13:00,purchase,"{{""purchase_id"": ""p4""}}",p4,p4
30,u3,u3_e15,2019-01-02 02:14:00,search_product,NaN,None,
31,u3,u3_e16,2019-01-02 02:14:15,view_product_details,NaN,None,
32,u3,u3_e17,2019-01-02 02:15:00,purchase,"{{""purchase_id"": ""p5""}}",p5,p5
33,u3,u3_e18,2019-01-02 02:15:40,app_close,NaN,None,
34,u3,u3_e19,2019-01-02 13:00:10,app_open,"{{""campaign_id"": ""cmp2"", ""channel_id"": ""Yande...",None,
35,u3,u3_e20,2019-01-02 13:00:25,search_product,NaN,None,
36,u3,u3_e21,2019-01-02 13:01:20,view_product_details,NaN,None,
37,u3,u3_e22,2019-01-02 13:03:00,purchase,"{{""purchase_id"": “p6""}}",p6,p6
38,u3,u3_e23,2019-01-02 13:06:00,app_close,NaN,None,

In [148]:
df_c.eventType.value_counts(normalize=True)

search_product          0.282051
view_product_details    0.205128
app_open                0.179487
app_close               0.179487
purchase                0.153846
Name: eventType, dtype: float64

In [169]:
def get_purchase_id(line):
    result = ""
    
    if not pd.isna(line):
        # replace double '{}' characters and "“"
        line = re.sub("^{{", "{", line)
        line = re.sub("}}$", "}", line)
        line = re.sub("“", "\"", line)

        parsed = json.loads(line)

        if "purchase_id" in parsed:
            result = parsed["purchase_id"]

    return result

In [170]:
df_c["purchaseId"] = df_c.attributes.apply(get_purchase_id)

df_c.head(7)

,userId,eventId,eventTime,eventType,attributes,purchase_id,purchaseId
0,u1,u1_e1,2019-01-01 00:00:00,app_open,"{{""campaign_id"": ""cmp1"", ""channel_id"": ""Googl...",None,
1,u1,u1_e2,2019-01-01 00:00:05,search_product,NaN,None,
2,u1,u1_e3,2019-01-01 00:00:10,search_product,NaN,None,
3,u1,u1_e4,2019-01-01 00:00:15,search_product,NaN,None,
4,u1,u1_e5,2019-01-01 00:00:20,view_product_details,NaN,None,
5,u1,u1_e6,2019-01-01 00:01:00,purchase,"{{""purchase_id"": ""p1""}}",p1,p1
6,u1,u1_e7,2019-01-01 00:02:00,app_close,NaN,None,

In [171]:
df_p = pd.read_excel("../sample/purchases_sample.xlsx")
df_p = df_p.astype({"purchaseId":"str"})
df_p.shape

(6, 4)

In [172]:
df_p.head(6)

  purchaseId        purchaseTime  billingCost  isConfirmed
0         p1 2019-01-01 00:01:05        100.5         True
1         p2 2019-01-01 00:03:10        200.0         True
2         p3 2019-01-01 01:12:15        300.0        False
3         p4 2019-01-01 02:13:05         50.2         True
4         p5 2019-01-01 02:15:05         75.0         True
5         p6 2019-01-02 13:03:00         99.0        False

In [175]:
df = df_c.join(df_p, on="purchaseId", how="left")

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [176]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userId       39 non-null     object
 1   eventId      39 non-null     object
 2   eventTime    39 non-null     datetime64[ns]
 3   eventType    39 non-null     object
 4   attributes   13 non-null     object
 5   purchase_id  6 non-null      object
 6   purchaseId   39 non-null     object
dtypes: datetime64[ns](1), object(6)
memory usage: 2.3+ KB