In [1]:
import pandas as pd

In [12]:
task1 = pd.read_excel("../result/task1.xlsx")

task1.head(10)

,purchaseId,purchaseTime,billingCost,isConfirmed,sessionId,campaignId,channelId
0,p2,2019-01-01 0:03:10,200.0,True,u2_0,cmp1,Yandex Ads
1,p3,2019-01-01 1:12:15,300.0,False,u3_1,cmp1,Google Ads
2,p6,2019-01-02 13:03:00,99.0,False,u3_2,cmp2,Yandex Ads
3,p4,2019-01-01 2:13:05,50.2,True,u3_3,cmp2,Yandex Ads
4,p5,2019-01-01 2:15:05,75.0,True,u3_3,cmp2,Yandex Ads
5,p1,2019-01-01 0:01:05,100.5,True,u1_0,cmp1,Google Ads

In [14]:
task2_campaign = pd.read_excel("../result/task2_campaigns.xlsx")

task2_campaign.head(10)

  campaignId  totalBillingCost
0       cmp1             300.5
1       cmp2             125.2

In [15]:
task2_channel = pd.read_excel("../result/task2_channels.xlsx")

task2_channel.head(10)

  campaignId   channelId  uniqueSessions
0       cmp2  Yandex Ads               3
1       cmp1  Google Ads               2